{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash


echo "Running preshell commands"
{{ range .packages.linux.preshell -}}
{{ .  }}
{{ end -}}



brew bundle --file=/dev/stdin <<EOF
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.linux.casks -}}
cask {{ . | quote }}
{{ end -}}

EOF
{{ end -}}


echo "Running postshell commands"
{{ range .packages.linux.postshell -}}
{{ .  }}
{{ end -}}



