{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.linux.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.linux.casks -}}
cask {{ . | quote }}
{{ end -}}

EOF
{{ end -}}


fish -c 'for plugin in (cat ~/.config/fish/fish_plugins); fisher install "$plugin";end'


